<section>
  <div class="container">
    <form>
      <!-- Email faild -->
      <div class="faild">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText  placeholder="Email" />
        </p-inputGroup>
      </div>
      <!-- Password -->
      <div class="faild">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText type="password" placeholder="Password" />
        </p-inputGroup>
      </div>
      <p-button type="Submit" label="Submit" />
    </form>
  </div>
</section>
